<h2>Welcome to pizza-shop!</h2>

<div class="row">


<% @products.each do |p| %>
<div class="col-md-8">
	<div>
		<%= p.title %>
	</div>
	<div>
		<img src="<%= p.path_to_image %>"/>
	</div>
	<div>
		<%= p.description %>
	</div>
	<div>
		Size: <%= p.size %> cm
	</div>
	<div>
		Price: <%= p.price %> rub
	</div>
	<div>
		<button type="button" class="btn btn-success" onclick="add_to_cart(<%= p.id %>)">Add to!</button>
	</div>
</div>
<% end %>

<button type="button" class="btn btn-primary" onclick="something()">Click me!</button>
